description = "Footer"
==
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span class="copyright">© Все права защищены 2015</span>
        </div>
        <div class="col-md-4">
            <p>Телефон: (985) 766-63-82, (495) 766- 63-82
            </p>
            <p>Москва, Ходынский бульвар д.19
            </p>
            <p>Ваши отзывы и предложения можно оставить на E-mail: GrandPark7666382@yandex.ru
            </p>
        </div>
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li>Разработка <a href="http://sacret.ru/">sacret.ru</a>
                </li>
            </ul>
        </div>
    </div>
</div>