description = "Services Page"
==
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Новости</h2>
            <h3 class="section-subheading text-muted">Внимание! О наличии свободных мест и информацию по действующей акции уточняйте по тел. 8-985-766-63-82
            </h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/1.jpg'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Прокол мочек ушей пистолетом по американской системе STUDEX</h4>
            <p class="text-muted">Быстрая и безболезненная услуга для взрослых и детей <b>950</b> рублей</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/2.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Увеличение губ, коррекция кисетных морщин над верхней губой, уголков рта, морщин марионеток, носогубных складок</h4>
            <p class="text-muted"><b>9900</b> рублей (BELLAST, UNIVELO) Юж.Корея Коррекция и увеличение скул <b>13 500</b> рублей</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/3.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Биоревитализация гиалуроновой кислотой  BEAUTYPHARMA HYAL 3% (Франция)</h4>
            <p class="text-muted"><b>3000</b> рублей</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/5.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Комплексный подход к молодости.</h4>
            <p class="text-muted">Инъекции BOTOX 1 ед - <b>169</b> рублей </p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/4.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">МЕЗОНИТИ и НИТИ «ROSE LIFT».</h4>
            <p class="text-muted">Армирование и подтяжка лица и контуров лица, а так же шеи, области декольте и тела </p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/6.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">RF лифтинг лица, шеи, декольте</h4>
            <p class="text-muted"><b>850</b> рублей</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/7.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Миостимуляция мышц лица, носогубных складок, глаз, губ, двойного подбородка и провисших щёк</h4>
            <p class="text-muted"><b>1200</b> рублей</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/8.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Безигольная глубокая лазерная биоревитализация кожи лица и области вокруг глаз гиалуроновой кислотой 3%</h4>
            <p class="text-muted"><b>1100</b> рублей</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/9.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Озоно-кислородная терапия лица и тела.</h4>
            <p class="text-muted">Корреция фигуры, снижение веса, устранение целлюлита, омоложение клеток <b>300</b> рублей</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/10.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Ультразвуковая чистка лица</h4>
            <p class="text-muted"><b>950</b> рублей</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/12.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Сезонные американские пилинги от Med Peel.</h4>
            <p class="text-muted">Поверхностный и срединный гликолевый, химический-летний, пилинг Джесснера, пилинг Фьюжн, пилинг ТСА, «желтый» пилинг или химический-летний пилинг для зоны вокруг глаз от <b>700</b> рублей </p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/11.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Лечебный крио-массаж</h4>
            <p class="text-muted"><b>800</b> рублей</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/13.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Массаж «Бразильская попка», «Бразильские ножки», «Плоский животик»</h4>
            <p class="text-muted"></p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/14.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Шоколадное или Водорослевое обертывание + Солевой пилинг + Pавершающий уход за кожей тела</h4>
            <p class="text-muted"><b>990</b> рублей</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/15.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Вакуумно-роликовый депрессомассаж </h4>
            <p class="text-muted">Le-Skin V6 (аналог LPG) <b>1180</b> рублей</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/16.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Фотоомоложение. Фотодепигментация. Фотокоагуляция сосудистой сетки и «звёздочек». Фототерапия акне. Фотоэпиляция на израильской фотосистеме Skin Station.</h4>
            <p class="text-muted"></p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/17.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">КАВИТАЦИЯ И УМЕНЬШЕНИЕ ОБЪЁМОВ ТЕЛА</h4>
            <p class="text-muted"><b>500</b> рублей</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/18.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">F ЛИФТИНГ ТЕЛА + ИНФРАКРАСНЫЙ ПРОГРЕВ, RF ЛИФТИНГ ТЕЛА + ВАКУУМНЫЙ МАССАЖ</h4>
            <p class="text-muted"><b>580</b> рублей</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/19.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">ПРЕССОТЕРАПИЯ ТЕЛА, ИНФРАКРАСНЫЙ ПРОГРЕВ, МИКРОТОКОВАЯ ТЕРАПИЯ, ЛИМФОДРЕНАЖНЫЙ МАССАЖ</h4>
            <p class="text-muted"><b>500</b> рублей</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/21.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">БИОЗАВИВКА ВОЛОС</h4>
            <p class="text-muted">+ Кератиновый восстанавливающий уход + Восстанавливающая стрижка горячими ножницами + Укладка волос!!! <b>2750</b> рублей. Внимание! Акция распространяется на длину волос не более 40 см.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/20.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Восстанавливающая стрижка горячими ножницами с запаиванием кончиков волос</h4>
            <p class="text-muted"><b>999</b> рублей. Внимание! Акция распространяется на длину волос не более 40 см.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/22.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">ОКРАШИВАНИЕ ВОЛОС</h4>
            <p class="text-muted">+ Кератиновый восстанавливающий уход + Стрижка волос горячими ножницами с легкой укладкой <b>2800</b> рублей. Внимание! Акция распространяется на длину волос не более 40 см.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/23.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Калифорнийское или Венецианское мелирование волос</h4>
            <p class="text-muted"><b>999</b> рублей. Внимание! Акция распространяется на длину волос не более 40 см.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/24.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Биоламинирование волос + Стрижка горячими ножницами + Укладка волос</h4>
            <p class="text-muted"><b>1590</b> рублей. Внимание! Акция распространяется на длину волос не более 40 см.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <img src="{{ 'assets/images/news/25.png'|theme }}" class="img-circle img-news">
            </span>
            <h4 class="service-heading">Кератиновое выпрямление волос COCO-CHOCO</h4>
            <p class="text-muted"><b>2890</b> рублей. Внимание! Акция распространяется на длину волос не более 40 см.</p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>